body{
  width: 80%;
  margin: 0 auto;
}
.flex {
  display:flex;
  background-color: orange;
  
}

header{
  display: flex;
  background-color: lightskyblue;
  height: 45px;
  color: white;
  font-size: 20px;
  justify-content: space-around;
}

.div4a {
  background-color: lightgray;
}

.divmargin {
  margin-right: 20px;
}

h2{
  color: lightblue;
}