<!doctype html>
<html lang="en">
  {{> header}}
  <body>
    <div class="container">
    {{> menu}}
    <form action = '/edit-post' method = "POST" >
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" name="title" class="form-control" value="{{title}}" placeholder = "Enter title" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <textarea  name="body" class="form-control">
    {{body}}
    </textarea>
  </div>
  <input type="hidden" name="postId" value="{{post_id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>

    </div>
{{> footer}}
  </body>
</html>