@import './resets';
@import './variables';

@function weight($weight-name){
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:$direction;
}

@mixin theme($light-theme: true){
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile{
  @media(max-width: $mobile){
    @content
  }
}
body {
  background: $primary-color;
  color: $text-color;
}

.main{
  @include flexCenter(row);
  width:80%;
  margin: 0 auto;
  // put this #{} to have .main .main_paragraph in CSS, only $_paragraph will only be .main_paragraph in css not including other main
  
  #{&}_paragraph1 {
    font-weight: weight(bold);
    
    &:hover {
      color: pink;
    }
  }
  
  #{&}_paragraph2 {
    @extend .main_paragraph1;
    
    &:hover{
      color:$accent-color;
    }
  }
  @include mobile {
    flex-direction: column;
  }
  
}

.light {
  @include theme($light-theme:false);
}
