#textBox {
  border: 2px solid grey;
}
.buttons{
  background-color: #bababa;
  color: white;
}

ul {
  list-style-type: none;
}

.wrapper{
  display: flex;
  margin: 10px;
}
.col2{
  margin-left: 7px;
  color: grey;
}