<html>
<head>
</head>
<body>

<h1> {{title}}</h1>
<div> {{body}}</div>
<small>{{#comments}}
        <div>{{subject}}</div>
        <p>{{body}}</p>
        
        {{/comments}}

</small>
</body>
</html>