
.banner {
  background-color: blue;
  color :white;
  padding: 10px;
  margin-bottom: 100px;
}

a {
  color :white;
}

#canvas {
  background-color: yellow;
}

#player {
  width : 100%;
  height : 480px;
}
