<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Add Your Trip</h1>
  <form method="POST" action="/users/add-trip">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Image Url</label>
    <input type="text" name="imageURL"class="form-control" >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Date of Departure</label>
    <input type="number" name="departure" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Date of Return</label>
    <input type="number" name="myReturn" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add Trip</button>
</form>
</div>


<ul>
  {{#trips}}
  <li>
    <form method="POST" action="/users/delete-trip">
    <h3>{{title}}</h3>
    <img src="{{image}}">
    <h5>Departure: {{departure}}</h5>
    <h5>My Return: {{myReturn}}</h5>
    <input type="hidden" name="city" value={{title}} />
    <button class="btn btn-primary">Remove</button>
    </form>
  </li>
  {{/trips}}
  </ul>
  
  
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
