<html>
<head></head>
<body>
  <h1>Register Here <h1>
  <form method = "POST" action = "/register">
  <input type="text" name = "username" placeholder="create username"/>
  <input type="password" name = "pasword" placeholder = "create a password"/>
  <button>Register</button>
  </form>
</body>
</html>
