
<html>
<head></head>

<body>

    <h1>Login</h1>

    <form method="POST" action = "/login">
        <input type="text" name="username" />
        <input type="text" name="password" />
        <button>Login</button>
    </form>

    {{message}}

</body>

</html>
